<div class="alert alert-success" role="alert" data-ng-show="SC.subscribed">
    <strong>Sukces!</strong> Pozytywnie zasubskrybowano e-mail <strong>{{SC.contact.email}}</strong>
</div>
<div class="alert alert-danger" role="alert" data-ng-show="SC.errorSendingSubscription">
    <strong>Błąd!</strong> Wystąpił problem podczas wysyłania subskrypcji. (Przyczyna: <strong>{{SC.errorSubscribing.message||'brak'}}</strong>)
</div>
<div class="alert alert-danger" role="alert" data-ng-show="SC.errorLoadingRates">
    <strong>Błąd!</strong> Wystąpił problem podczas pobierania listy walut. (Przyczyna: <strong>{{SC.errorGettingPeriods.message||'brak'}}</strong>)
</div>
<div class="alert alert-danger" role="alert" data-ng-show="SC.errorLoadingPeriods">
    <strong>Błąd!</strong> Wystąpił problem podczas pobierania listy okresów subskrybcji. (Przyczyna: <strong>{{SC.errorGettingPeriods.message||'brak'}}</strong>)
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Subskrypcja</h3>
    </div>
    <div class="panel-body">
        <form name="ContactForm">
            <div class="form-group has-feedback" data-ng-class="ContactForm.email.$valid ? 'has-success' : (ContactForm.email.$pristine ? '' : 'has-error')">
                <label class="control-label" for="email">E-mail:</label>
                <input id="email" name="email" type="email" data-ng-model="SC.contact.email" class="form-control" required />
                <span class="glyphicon form-control-feedback" data-ng-class="ContactForm.email.$valid ? 'glyphicon-ok' : (ContactForm.email.$pristine ? '' : 'glyphicon-remove')"></span>
            </div>
            <div class="form-group has-feedback" data-ng-class="ContactForm.rates.$valid ? 'has-success' : (ContactForm.rates.$pristine ? '' : 'has-error')" data-ng-init="SC.loadRatesList()">
                <label class="control-label" for="rates">Subskrybowane waluty:</label>
                <select id="rates" name="rates" data-ng-options="rate.name as rate.name for rate in SC.ratesList|orderBy:'name'" data-ng-model="SC.contact.rates" class="form-control" required></select>
            </div>
            <div class="form-group has-feedback" data-ng-class="ContactForm.period.$valid ? 'has-success' : (ContactForm.period.$pristine ? '' : 'has-error')" data-ng-init="SC.loadPeriodsList()">
                <label class="control-label" for="period">Okres subskrypcji:</label>
                <select id="period" name="period" data-ng-options="period.name as period.name for period in SC.periodsList|orderBy:'name'" data-ng-model="SC.contact.period" class="form-control" required></select>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" style="text-align: center;">
        <button id="subscribe-btn" class="btn btn-success" data-ng-show="!SC.sendingSubscription" data-ng-click="SC.subscribe(SC.contact)" data-ng-disabled="ContactForm.$invalid">
            Subskrybuj <span class="glyphicon glyphicon-send"></span></button>
        <button id="clear-btn" class="btn btn-danger" data-ng-show="!SC.sendingSubscription" data-ng-click="SC.clear()">
            Wyczyść <span class="glyphicon glyphicon-remove"></span></button>
        <p data-ng-show="SC.sendingSubscription"><i class="glyphicon glyphicon-repeat fast-right-spinner"></i></p>
    </div>
</div>