<div class="alert alert-success" role="alert" data-ng-show="SC.subscribed">
    <strong>Sukces!</strong> Pozytywnie zasubskrybowano e-mail <strong>{{SC.subscribedEmail}}</strong>
</div>
<div class="alert alert-danger" role="alert" data-ng-show="SC.errorSendingSubscription">
    <strong>Błąd!</strong> Wystąpił problem podczas wysyłania subskrypcji. <strong data-ng-if='SC.errorSubscribing.message'>{{'(Przyczyna: ' + SC.errorSubscribing.message + ')'}}</strong>
</div>
<div class="alert alert-danger" role="alert" data-ng-show="SC.errorLoadingCurrencies">
    <strong>Błąd!</strong> Wystąpił problem podczas pobierania listy walut. <strong data-ng-if='SC.errorGettingCurrencies.message'>{{'(Przyczyna: ' + SC.errorGettingCurrencies.message + ')'}}</strong>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Subskrypcja</h3>
    </div>
    <div class="panel-body">
        <form name="ContactForm">
            <div class="form-group has-feedback" data-ng-class="ContactForm.email.$valid ? 'has-success' : (ContactForm.email.$pristine ? '' : 'has-error')">
                <label class="control-label" for="email">E-mail:</label>
                <input id="email" name="email" type="email" data-ng-model="SC.contact.email" class="form-control" required />
                <span class="glyphicon form-control-feedback" data-ng-class="ContactForm.email.$valid ? 'glyphicon-ok' : (ContactForm.email.$pristine ? '' : 'glyphicon-remove')"></span>
            </div>
            <div class="form-group has-feedback" data-ng-class="ContactForm.currencies.$valid ? 'has-success' : (ContactForm.currencies.$pristine ? '' : 'has-error')" data-ng-init="SC.loadCurrenciesList()">
                <label class="control-label" for="currencies">Subskrybowane waluty:</label>
                <ui-select id="currencies" name="currencies" multiple data-ng-model="SC.contact.currencies" theme="bootstrap" close-on-select="false" required>
                    <ui-select-match placeholder="Kliknij, aby wybrać...">{{::$item.targetCurrencyCode}} -> {{::$item.baseCurrencyCode}}</ui-select-match>
                    <ui-select-choices repeat="currency in SC.currenciesList | propsFilter: {targetCurrencyCode: $select.search, targetCurrencyName: $select.search, baseCurrencyCode: $select.search}">
                        <div data-ng-bind-html="currency.targetCurrencyCode + ' -> ' + currency.baseCurrencyCode | highlight: $select.search"></div>
                        <small>
                            opis: <span data-ng-bind-html="''+currency.targetCurrencyName | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
                <span class="glyphicon form-control-feedback" data-ng-class="ContactForm.currencies.$valid ? 'glyphicon-ok' : (ContactForm.currencies.$pristine ? '' : 'glyphicon-remove')"></span>
            </div>
            <div class="form-group has-feedback" data-ng-class="ContactForm.period.$valid ? 'has-success' : (ContactForm.period.$pristine ? '' : 'has-error')">
                <label class="control-label" for="period">Okres subskrypcji:</label>
                <select id="period" name="period" data-ng-options="period.value as period.name for period in SC.periodsList|orderBy:'name'" data-ng-model="SC.contact.period" class="form-control" required></select>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" style="text-align: center;">
        <button id="subscribe-btn" class="btn btn-success" data-ng-show="!SC.sendingSubscription" data-ng-click="SC.subscribe(SC.contact)" data-ng-disabled="ContactForm.$invalid">
            Subskrybuj <span class="glyphicon glyphicon-send"></span></button>
        <button id="clear-btn" class="btn btn-danger" data-ng-show="!SC.sendingSubscription" data-ng-click="SC.clear()">
            Wyczyść <span class="glyphicon glyphicon-remove"></span></button>
        <p data-ng-show="SC.sendingSubscription"><i class="glyphicon glyphicon-repeat fast-right-spinner"></i></p>
    </div>
</div>