<div class="alert alert-danger" role="alert" data-ng-show="ERC.errorLoadingCurrencies">
    <strong>Błąd!</strong> Wystąpił problem podczas pobierania listy walut. <strong data-ng-if='ERC.errorGettingCurrencies.message'>{{'(Przyczyna: ' + ERC.errorGettingCurrencies.message + ')'}}</strong>
</div>
<div class="alert alert-danger" role="alert" data-ng-show="ERC.errorLoadingExchangeRates">
    <strong>Błąd!</strong> Wystąpił problem podczas generowania wykresu. <strong data-ng-if='ERC.errorGettingExchangeRates.message'>{{'(Przyczyna: ' + ERC.errorGettingExchangeRates.message + ')'}}</strong>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Wykres kursów walut - LIVE!<a class="refresh-btn" data-ng-click="ERC.getExchangeRates()">Odśwież wykres</a></h3>
    </div>
    <div class="panel-body">
        <div class="form-group" data-ng-init="ERC.loadCurrenciesList()">
            <label class="control-label" for="currencies">Waluty do wyświetlenia na wykresie (max 3):</label>
            <ui-select id="currencies" name="currencies" multiple data-ng-model="ERC.selectedCurrencies" theme="bootstrap" close-on-select="true" limit='3' required>
                <ui-select-match placeholder="Kliknij, aby wybrać...">{{::$item.targetCurrencyCode}} -> {{::$item.baseCurrencyCode}}</ui-select-match>
                <ui-select-choices repeat="currency in ERC.currenciesList | propsFilter: {targetCurrencyCode: $select.search, targetCurrencyName: $select.search, baseCurrencyCode: $select.search}">
                    <div data-ng-bind-html="currency.targetCurrencyCode + ' -> ' + currency.baseCurrencyCode | highlight: $select.search"></div>
                    <small>
                        opis: <span data-ng-bind-html="''+currency.targetCurrencyName | highlight: $select.search"></span>
                    </small>
                </ui-select-choices>
            </ui-select>       
        </div>
        <div fusioncharts width="100%" height="400" type="msline" chart="{{ERC.attrs}}" categories="{{ERC.categories}}" dataset="{{ERC.dataset}}" data-ng-init="ERC.refreshExchangeRates()"></div>
    </div>
</div>